.formwrapper {
    margin: 2rem 0;
    width: 100%
}
.input {
    border: 1px solid #000;
    border-radius: 0.15rem;
    width: 25rem;
    padding: 0.25rem;
}
.submit {
    border-radius: 0.25rem;
    border: 1px solid #000;
    background-color: red;
    color: white;
    text-align: center;
    padding: 0.15rem 2.5rem;
    margin-left: 3rem;
}
.submit:disabled {
    background-color: firebrick;
    color: lightgray;
    cursor:not-allowed;
}
.messages {
    padding-left: 0.5rem;
    color: darkgrey;
    font-style: italic;
    font-size: 0.9rem;
}